<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: grey;
			display: inline-block;
			margin: 18px;
		}

		.red {
			background-color: red;
		}

		.green {
			background-color: green;
		}

		.blue {
			background-color: blue;
		}

		.demo2 {
			width: 100px;
			height: 100px;
			background-color: grey;
			display: inline-block;
			margin: 18px;
			border: 2px solid black;
		}
	</style>
	
</head>
<body>
	<div id="app">
		<!-- comment out -->
		<input type="text" v-on:input="changeTitle2">
		<p>{{ title2 }}</p>
		  


		<input type="text" v-on:input="changeTitle">

		<h1 v-once>{{ title }}</h1>
		<p>{{ sayHello() }} - <a v-bind:href="link">google</a></p>
		
		<p v-html="finishedLink"></p>

		<button v-on:click="counter++">Click me</button>
		<button v-on:click="counter--">Decrease me</button>
		<button v-on:click="secondCounter++">increase second me</button>
		<button v-on:click="counter++">Increase</button>
		<p>Counter: {{ counter }} | {{ secondCounter }}</p>
		<p>Result: {{ result() }} | {{ output }}</p>

		<p v-on:mousemove="updateCoordinate">
			Coordinates: {{ x }} / {{ y }}
			- <span v-on:mousemove.stop="dummy">STOP HERE</span>
		</p>
		<input type="text" v-on:keyup.enter.space="alertMe">
		<p>Type anything and add space</p><br>



		<input type="text" v-model="name">
		<p>{{name}}</p>



		<button @click="changeLink">Click to change link</button>
		<a :href="link">link</a>

		<!-- comment out stopss -->


		<div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
		<div class="demo" @click="attachGreen = !attachGreen" :class="{green: attachGreen}"></div>
		<div class="demo" @click="attachBlue = !attachBlue" :class="{blue: attachBlue}"></div>
		<div class="demo" :class="[color, {red: attachRed}]"></div>
		<hr>
		<input type="text" v-model="color">

		<!-- setting styles dynamically without css classes -->
		<hr>
		<div class="demo2" :style="{backgroundColor: color}"></div>
		<div class="demo2" :style="myStyle"></div>
		<div class="demo2" :style="[myStyle, {height: width + 'px'}]"></div>
		<div class="demo2"></div>
		<hr>
		<input type="text" v-model="color">
		<input type="text" v-model="width">
	</div>
	

	<script src="vue.js"></script>
	<script>
		new Vue({
		el: '#app',
		data: {
			//comment out

			counter: 0,
			secondCounter: 0,
			result: '',
			x: 0,
			y: 0,
			name: 'max',
			secondCounter: 0,
			title: 'Hello World!',
			title2: 'Hello Beautiful World!',
			link: 'http://google.com',
			finishedLink: '<a href="http://google.com">google</a>',

			//comment out stopss

			attachRed: false,
			attachGreen: false,
			attachBlue: false,
			color: 'green',
			width: 100
		},
		computed: {

			//comment out

			output: function() {
				return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
			},

			//comment out stopss

			myStyle: function() {
				return {
					backgroundColor: this.color,
					width: this.width + 'px'
				}
			}
		},
		watch: {

			//comment out
			counter: function(value) {
				var vn = this;
				// setTimeout(function() {
				// 	vn.counter = 0;
				// }, 5000);
			}

			//comment out stopss
		},
		methods: {
			//comment out 
			changeTitle: function(event) {
				this.title = event.target.value;
			},
			changeTitle2: function(event) {
				this.title2 = event.target.value;
			},
			result: function() {
				return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
			},			
			sayHello: function() {
				this.title = 'Second Hello!';
				return this.title;
			},			
			Increase: function(step, event) {
				this.counter+= step;
			},

			Increase: function() {
				this.counter++;
				this.result = this.counter > 5 ? "Greater 5" : "less than 5"
			},
			Decrease: function() {
				this.counter--;
				this.result = this.counter > 5 ? "Greater 5" : "less than 5"
			},

			updateCoordinate: function(event) {
				this.x = event.clientX;
				this.y = event.clientY;
			},
			dummy: function(event) {
				event.stopPropagation();
			},
			alertMe: function() {
				alert('sendvalue');
			},

			//comment out stopss


			changeLink: function() {
				this.link = 'http://apple.com'
			}
		}
		});
	</script>

</body>
</html>